<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/logo.jpg" height="35px"/></a>
    </div>
    <div class="navbar-text navbar-right btn-group">
      <button class="btn btn-default">Home</button>
      <button class="btn btn-default">Deplasare</button>

    </div>
  </div>

</div>

<div class="jumbotron custom-jumbotron">
  <div class="watermark"></div>
  <div class="content">
    <h1 class="big-text">Text Jmecher</h1>
    <button class="btn btn-success">Home</button>
    <button class="btn btn-danger">Deplasare</button>


  </div>

</div>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 text-center text">
    <h1><strong>FEATURES</strong></h1>
    <h5>What makes this single-page WordPress theme unique.</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="circle red"><span class="glyphicon glyphicon-apple"></span></div>
    <h4 class="text-center">PARALLAX EFFECT</h4>
    <div class="line red"></div>
    <div class="text-center text">Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="circle green"><span class="glyphicon glyphicon-apple"></span></div>
    <h4 class="text-center">PARALLAX EFFECT</h4>
    <div class="line green"></div>
    <div class="text-center text">Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="circle blue"><span class="glyphicon glyphicon-apple"></span></div>
    <h4 class="text-center">PARALLAX EFFECT</h4>
    <div class="line blue"></div>
    <div class="text-center text">Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</div>
 </div>
  <div class="col-xs-12 col-md-3">
    <div class="circle yellow"><span class="glyphicon glyphicon-apple"></span></div>
    <h4 class="text-center">PARALLAX EFFECT</h4>
    <div class="line yellow"></div>
    <div class="text-center text ">Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</div>
  </div>
</div>
